:root {
  --first-color: #66bfbf;
  --second-color: #eaf6f6;
  --third-color: #fcfefe;
  --fourth-color: #f76b8a;
  --primary-font: "Comfortaa", cursive;
}

h1,
h2,
p {
  font-family: var(--primary-font);
}

.apresentation {
  text-align: center;
  padding-top: 269px;
  padding-bottom: 278px;
  background-color: var(--second-color);
}

.apresentation h2,
.about h2,
.contact h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}

.apresentation h1 {
  font-weight: bold;
  font-size: 80px;
  line-height: 128px;
}

.apresentation p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 462;
  margin-top: 24px;
}

.about a {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  padding: 18px 30.5px;
  margin: 0;
}

.about p {
  font-size: 16;
  text-align: left;
  line-height: 30px;
  font-weight: 475;
  margin-top: 28px;
  margin-bottom: 48px;
}

.about img {
  max-width: 75%;
}

.link-contact {
  border: 2px solid var(--first-color);
  background-color: var(--first-color);
  color: var(--second-color);
  transition: all 1s ease;
}

.link-about,
.link-launch-app {
  border: 2px solid var(--first-color);
  color: var(--first-color);
  transition: all 1s ease;
}

.link-contact:hover {
  border: 2px solid var(--third-color);
  background-color: var(--third-color);
  color: var(--fourth-color);
}

.link-about:hover,
.link-launch-app:hover {
  border: 2px solid var(--third-color);
  color: var(--third-color);
  background-color: var(--fourth-color);
}

.link-contact,
.link-about,
.link-launch-app {
  padding: 18px 46px;
  border-radius: 4px;
  text-decoration: none;
  margin: 67px 10px 0 10px;
  text-align: center;
}

.link-launch-app {
  margin-top: 50px;
  margin-bottom: 25px;
}
.subitle-project {
  font-size: 18px;
  line-height: 27px;
  font-weight: 529;
  margin-top: 125px;
  text-align: center;
}

.projects-name {
  color: var(--first-color);
  display: block;
  text-align: left;
  font-weight: bold;
  font-size: 54px;
  line-height: 70px;
}

.project-description {
  display: block;
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
  line-height: 30px;
  padding-top: 55px;
}

.contact a {
  color: var(--first-color);
  display: inline-block;
  font-size: 40px;
  margin: 0 15px;
}

.contact a:hover,
.author a:hover {
  color: var(--fourth-color);
}

.author {
  display: block;
  margin: auto 0;
  color: var(--first-color);
  font-weight: bolder;
  text-align: center;
  padding-bottom: 20px;
}

.author a {
  color: var(--first-color);
}

.bg-color {
  background-color: var(--first-color) !important;
}

.navbar {
  position: sticky !important;
  top: 0;
}
nav li {
  font-weight: bold;
}
